*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin-top: 40px;
   
    background-color: #FFC72C
}
.container{
    margin:10px;
    height: 70vh;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    

}
.btn{
    height: 20vmin;
    width: 20vmin;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow:0 0 1rem black;
    background-color:white;
    color: red;
    font-size: 60px;
    font-weight: 1000;

}
.top-heading{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reset{
    padding: 0.8rem;
    margin-top: 10px;
    text-align: center;
    color:wheat;
    background-color: #191913;
    font-size: 14px;
    font-weight: 20px;
    border-radius: 1rem;
}
.new-btn{
    padding: 1rem;
    text-align: center;
    color:wheat;
    background-color: #191913;
    font-size: 15px;
    font-weight: 20px;
    border-radius: 1rem;
    
}
#msg{
    color: #191913;
    font-size: 8vmin;
}
.msg-container{
    height: 20vmin;
    
   
}
.hide{
    display: none;
}
@media (max-width: 600px) {
    .game {
      height: 90vmin;
      width: 90vmin;
    }
    .btn {
      height: 28vmin;
      width: 28vmin;
      font-size: 40px;
    }
    .top-heading {
      font-size: 40px;
    }
    #msg {
      font-size: 6vmin;
    }
  }
  
  @media (max-width: 400px) {
    .btn {
      height: 30vmin;
      width: 30vmin;
      font-size: 50px;
    }
    .top-heading {
      font-size: 30px;
    }
    #msg {
      font-size: 5vmin;
    }
    .reset, .new-btn {
      font-size: 12px;
      padding: 0.5rem;
    }
  }
  
